[submodule "Walnut/vendor/glm"]
	path = Walnut/vendor/glm
	url = https://www.github.com/g-truc/glm.git
[submodule "Walnut/vendor/imgui"]
	path = Walnut/vendor/imgui
	url = https://www.github.com/kurbyrr/imgui.git
[submodule "Walnut/vendor/glfw"]
	path = Walnut/vendor/glfw
	url = https://www.github.com/glfw/glfw.git
[submodule "WalnutApp/deps/cpp-httplib"]
	path = WalnutApp/deps/cpp-httplib
	url = https://github.com/yhirose/cpp-httplib
